:root {
  --color-date: #ecf2f5;
  --color-date-text: #6c6e7b;
  --border-radius: 1em;
  --color-title-new-hover: #841844;
  --background-color-a-new-hover: #841844;
  --color-a-new-hover: white;
  --color-a-new: #9b407a;
  --padding: 8px 16px 8px 16px;
}
main {
  display: flex;
  flex-direction: column;
}
.main__section--main-news {
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20%;
}
.main__title {
  padding-left: 10%;
  padding-right: 10%;
}
.main__section--news {
  padding-left: 10%;
  padding-right: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main__section--new {
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main__section--new:hover .main__h2--title--new {
  color: var(--color-title-new-hover);
}

.main__section--new:hover .main__a--detail--new {
  background-color: var(--background-color-a-new-hover);
  color: var(--color-a-new-hover);
}

.main__a--detail--new {
  text-transform: uppercase;
  border: 2px solid var(--color-a-new);
  border-radius: var(--border-radius);
  color: var(--color-a-new);
}

.main__samp--date-new {
  background-color: var(--color-date);
  color: var(--color-date-text);
  border-radius: var(--border-radius);
}

.main__section--page {
  padding-left: 10%;
  padding-right: 10%;
  align-self: flex-end;
}

.main__a--page {
  border: 2px solid var(--color-a-new);
  border-radius: 50%;
  color: var(--color-a-new);
}
.main__a--page-active{
  background-color: var(--background-color-a-new-hover);
  color: var(--color-a-new-hover);
}

.main__a--page--moving {
  border: 2px solid var(--color-a-new);
  border-radius: var(--border-radius);
  color: var(--color-a-new);
}
.main__a--page--moving:hover,
.main__a--page:hover {
  background-color:darkred;
  color: var(--color-a-new-hover);
}
