:root {
  --color-title: #2c145e;
  --padding: 8px 16px 8px 16px;
}
a, samp{
    padding: var(--padding);
}
body {
  overflow-x: hidden;  
  max-width: 100%;    
}
a{
    text-decoration: none;
}
.header__section {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: row;
}

.header__logo {
  padding: var(--padding);
  object-fit: contain;
}
.header__title {
  padding: var(--padding);
  color: var(--color-title);
  text-transform: uppercase;
  white-space: pre-line;
}
